doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Gllacy Shop - КАТАЛОГ
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="keywords" content="разные, ключевые, слова")
    meta(name="description" content="краткое описание сайта")
    meta(name="author" content="ainshtein")
    link(rel="stylesheet" href="css/main.css")
  body
    div.content-wrapper
      header.header-main
        div.header-main__top
          nav.menu
            a.logo(href="index.html")
              img.logo__image(src="img/logo.png" width="154" height="64" alt="Логотип")
            ul.menu__list
              li.menu__item
                a.menu__link.menu__link_active Каталог
                  ul.dropdown
                    li.dropdown__item
                      span.dropdown__title Новинки
                    li.dropdown__item
                      a.dropdown__link(href="#") Сливочное
                    li.dropdown__item
                      a.dropdown__link(href="#") Щербеты
                    li.dropdown__item
                      a.dropdown__link(href="#") Фруктовый лед
                    li.dropdown__item
                      a.dropdown__link(href="#") Мелорин
              li.menu__item
                a.menu__link(href="#") Доставка и оплата
              li.menu__item
                a.menu__link(href="#") О компании
          div.search
            a.search__link(href="#")
          div.login
            a.login__link(href="#") Вход
          div.bag
            a.bag__link.bag__link_active(href="#")
              span.bag__text 2 товара
          div.schedule
            span.schedule__text С 10 до 20, ежедневно
            a.schedule__link(href="tel: 88124502525") 8 812 450-25-25
      ul.breadcrumbs
          li.breadcrumbs__item
            a.breadcrumbs__link(href="index.html") Главная
          li.breadcrumbs__item
            a.breadcrumbs__link(href="#") Каталог
          li.breadcrumbs__item
            a.breadcrumbs__link.breadcrumbs__link_active Сливочное
      main.catalog
        h1.catalog__title
        div.catalog__filter
          form(action="https://echo.htmlacademy.ru" method="post")
            fieldset.filter__group
              legend.filter__title Сортировка:
                a.filter__link по популярности
            fieldset.filter__group
              legend.filter__title Цена: 100 руб. &ndash; 500 руб.
                div.range
                  div.range__control
                    div.range__scale
                      div.range__bar Шкала
                    div.range__toggle.range__toggle_min Переключатель минимум
                    div.range__toggle.range__toggle_max Переключатель максимум
            fieldset.filter__group
              legend.filter__title Жирность:
              input.filter__radio(type="radio" name="percent" id="0%-field" value="0%")
              label.filter__label(for="0%-field") 0%
              input.filter__radio(type="radio" name="percent" id="10%-field" value="<10%" checked)
              label.filter__label(for="10%-field") до 10%
              input.filter__radio(type="radio" name="percent" id="30%-field" value="<30%")
              label.filter__label(for="30%-field") до 30%
              input.filter__radio(type="radio" name="percent" id="more-field" value=">30%")
              label.filter__label(for="more-field") выше 30%
            fieldset.filter__group
              legend.filter__title Наполнители:
              input.filter__checkbox(type="checkbox" name="chocolate" id="chocolate-field" checked)
              label.filter__label(for="chocolate-field") шоколадные
              input.filter__checkbox(type="checkbox" name="sugar" id="sugar-field")
              label.filter__label(for="sugar-field") сахарные присыпки
              input.filter__checkbox(type="checkbox" name="fruit" id="fruit-field")
              label.filter__label(for="fruit-field") фрукты
              input.filter__checkbox(type="checkbox" name="syrup" id="syrup-field" checked)
              label.filter__label(for="syrup-field") сиропы
              input.filter__checkbox(type="checkbox" name="jam" id="jam-field")
              label.filter__label(for="jam-field") джемы
            button.btn.btn_submit(type="submit") Применить
        div.catalog__wrapper
          div.product
            div.product__picture
              img.product__image(src="img/ice-orange.jpg" width="200" height="200" alt="Сливочное с апельсиновым джемом и цитрусовой стружкой")
            span.product__price 310 &#8381;/кг
            div.product__title Сливочное с апельсиновым джемом и цитрусовой стружкой
            a.btn.btn_orange Быстрый просмотр
          div.product
            div.product__picture
              img.product__image(src="img/ice-coffee.jpg" width="200" height="200" alt="Сливочно-кофейное с кусочками шоколада")
            span.product__price 380 &#8381;/кг
            div.product__title Сливочно-кофейное с кусочками шоколада
            a.btn.btn_orange Быстрый просмотр
          div.product
            div.product__picture
              img.product__image(src="img/ice-strawberry.jpg" width="200" height="200" alt="Сливочно-клубничное с присыпкой из белого шоколада")
            span.product__price 355 &#8381;/кг
            div.product__title Сливочно-клубничное с присыпкой из белого шоколада
            a.btn.btn_orange Быстрый просмотр
          div.product
            div.product__picture
              img.product__image(src="img/ice-cowberry.jpg" width="200" height="200" alt="Сливочное с брусничным джемом ")
            span.product__price 325 &#8381;/кг
            div.product__title Сливочное с брусничным джемом
            a.btn.btn_orange Быстрый просмотр
          div.product
            div.product__picture
              img.product__image(src="img/ice-bilberry.jpg" width="200" height="200" alt="Сливочно-черничное с цельными ягодами черники")
            span.product__price 410 &#8381;/кг
            div.product__title Сливочно-черничное с цельными ягодами черники
            a.btn.btn_orange Быстрый просмотр
          div.product
            div.product__picture
              img.product__image(src="img/ice-lemon.jpg" width="200" height="200" alt="Сливочно-лимонное с карамельной присыпкой")
            span.product__price 375 &#8381;/кг
            div.product__title Сливочно-лимонное с карамельной присыпкой
            a.btn.btn_orange Быстрый просмотр
          div.product
            div.product__picture
              img.product__image(src="img/ice-chocolate.jpg" width="200" height="200" alt="Сливочное с шоколадной стружкой")
            span.product__price 320 &#8381;/кг
            div.product__title Сливочное с шоколадной стружкой
            a.btn.btn_orange Быстрый просмотр
          div.product
            div.product__picture
              img.product__image(src="img/ice-vanilla.jpg" width="200" height="200" alt="Сливочно-ванильное с кусочками шоколада ")
            span.product__price 320 &#8381;/кг
            div.product__title Сливочно-ванильное с кусочками шоколада
            a.btn.btn_orange Быстрый просмотр
          div.product
            div.product__picture
              img.product__image(src="img/ice-menthol.jpg" width="200" height="200" alt="Сливочноe с ментоловым сиропом")
            span.product__price 320 &#8381;/кг
            div.product__title Сливочноe с ментоловым сиропом
            a.btn.btn_orange Быстрый просмотр
          div.product
            div.product__picture
              img.product__image(src="img/ice-black-chocolate.jpg" width="200" height="200" alt="Сливочное с кусочками черного шоколада")
            span.product__price 320 &#8381;/кг
            div.product__title Сливочное с кусочками черного шоколада
            a.btn.btn_orange Быстрый просмотр
          div.product
            div.product__picture
              img.product__image(src="img/ice-mint.jpg" width="200" height="200" alt="Сливочное с мятным сиропом")
            span.product__price 320 &#8381;/кг
            div.product__title Сливочное с мятным сиропом
            a.btn.btn_orange Быстрый просмотр
        ul.pagination
          li.pagination__item
            a.pagination__link.pagination__link_prev.pagination__link_disabled Предыдущая
          li.pagination__item
            a.pagination__link.pagination__link_current 1
          li.pagination__item
            a.pagination__link(href="#") 2
          li.pagination__item
            a.pagination__link(href="#") 3
          li.pagination__item
            a.pagination__link(href="#") 4
          li.pagination__item
            a.pagination__link(href="#") 5
          li.pagination__item
            a.pagination__link.pagination__link_next(href="#") Следующая
      footer.footer-main
        div.social
          a.social__link.social__link_tw(href="#") Твиттер
          a.social__link.social__link_ig(href="#") Инстаграмм
          a.social__link.social__link_fb(href="#") Фейсбук
          a.social__link.social__link_vk(href="#") Вконтакте
        div.footer-info
          div.footer-info__left
            a.footer-info__link.footer-info__link_providers(href="#") Для поставщиков
            a.footer-info__link(href="#") О производстве
          div.footer-info__right
            a.footer-info__link(href="#") Наши документы
            a.footer-info__link(href="#") Экологические стандарты
          div.copyright
            div.copyright__picture
              img.copyright__image(src="img/copyright.png" width="108" height="38" alt="Копирайт")
              span.copyright__text Сделано в <a class= "copyright__link" href="#"> HTML Academy</a> &copy; 2016





    script(src="js/main.js")

