doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Gllacy Shop
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="keywords" content="разные, ключевые, слова")
    meta(name="description" content="краткое описание сайта")
    meta(name="author" content="ainshtein")
    link(rel="stylesheet" href="css/main.css")
  body
    input.slider__input(type="radio" id="btn-1" name="toggle" checked)
    input.slider__input(type="radio" id="btn-2" name="toggle")
    input.slider__input(type="radio" id="btn-3" name="toggle")
    div.site-wrapper
      div.content-wrapper
        header.header-main
          div.header-main__top
            div.logo
              img.logo__image(src="img/logo.png" width="154" height="64" alt="Логотип")
            nav.menu
              ul.menu__list
                li.menu__item
                  a.menu__link(href="catalog.html") Каталог
                    ul.dropdown
                      li.dropdown__item
                        span.dropdown__title Новинки
                      li.dropdown__item
                        a.dropdown__link(href="#") Сливочное
                      li.dropdown__item
                        a.dropdown__link(href="#") Щербеты
                      li.dropdown__item
                        a.dropdown__link(href="#") Фруктовый лед
                      li.dropdown__item
                        a.dropdown__link(href="#") Мелорин
                li.menu__item
                  a.menu__link(href="#") Доставка и оплата
                li.menu__item
                  a.menu__link(href="#") О компании
            div.search
              a.search__link(href="#")
            div.login
              a.login__link(href="#") Вход
            div.bag
              a.bag__link(href="#")
                span.bag__text Пусто
            div.schedule
              span.schedule__text С 10 до 20, ежедневно
              a.schedule__link(href="tel: 88124502525") 8 812 450-25-25
          div.slider
            div.slide#slide1
              div.slide__title Крем-брюле и пломбир с малиновым джемом
              a.btn.btn_big.btn_slide(href="#") Давайте оба!
            div.slide#slide2
              div.slide__title Шоколадный пломбир и лимонный сорбет
              a.btn.btn_big.btn_slide(href="#") Давайте оба!
            div.slide#slide3
              div.slide__title Пломбир с помадкой и клубничный щербет
              a.btn.btn_big.btn_slide(href="#") Давайте оба!
            div.slider__controls
              label.slider__control(for="btn-1")
              label.slider__control(for="btn-2")
              label.slider__control(for="btn-3")
        main.content
          div.promo
            div.promo-card.promo-card_jam
              h2.promo-card__title Малинка даром!
              p.promo-card__text.
                При покупке 2 кг любого фруктового мороженого, добавим в ваш заказ банку малинового варенья бесплатно.
              a.btn.btn_orange Хочу варенье!
            div.promo-card.promo-card_chocolate
              h2.promo-card__title Шоколадки даром!
              p.promo-card__text.
                При покупке 2 кг пломбира, добавим в ваш заказ упаковку вкуснейшей шоколадной присыпки  абсолютно бесплатно.
              a.btn.btn_orange Хочу шоколадки!
          div.products
            div.product.flag.flag_hit
              div.product__picture
                img.product__image(src="img/ice-orange.jpg" width="200" height="200" alt="Сливочное с апельсиновым джемом и цитрусовой стружкой")
              span.product__price 310 &#8381;/кг
              div.product__title Сливочное с апельсиновым джемом и цитрусовой стружкой
              a.btn.btn_orange Быстрый просмотр
            div.product.flag.flag_hit
              div.product__picture
                img.product__image(src="img/ice-coffee.jpg" width="200" height="200" alt="Сливочно-кофейное с кусочками шоколада")
              span.product__price 380 &#8381;/кг
              div.product__title Сливочно-кофейное с кусочками шоколада
              a.btn.btn_orange Быстрый просмотр
            div.product.flag.flag_hit
              div.product__picture
                img.product__image(src="img/ice-strawberry.jpg" width="200" height="200" alt="Сливочно-клубничное с присыпкой из белого шоколада")
              span.product__price 355 &#8381;/кг
              div.product__title Сливочно-клубничное с присыпкой из белого шоколада
              a.btn.btn_orange Быстрый просмотр
            div.product.flag.flag_hit
              div.product__picture
                img.product__image(src="img/ice-brulee.jpg" width="200" height="200" alt="Сливочное крем-брюле с карамельной подливкой")
              span.product__price 415 &#8381;/кг
              div.product__title Сливочное крем-брюле с карамельной подливкой
              a.btn.btn_orange Быстрый просмотр
          div.about
            h1.about__title Магазин Глейси  — это онлайн и офлайн магазин по продаже мороженого собственного производства на развес
            div.about__left
              p.about__text.about__text_production.
                Все наше мороженое изготавливается на собственном производстве, с использованием современного оборудования и проверенных временем технологий.
              p.about__text.about__text_materials.
                Для приготовления мороженого используются настоящие сливки и молоко высочайшего качества. Все дополнительные ингредиенты и добавки произведены из натурального, экологически чистого сырья.
            div.about__right
              p.about__text.about__text_providers.
                Закупка ингредиентов  производится только у проверенных фермерских хозяйств и компаний, с которыми нас связывает долговременное сотрудничество.
              p.about__text.about__text_delivery.
                Доставка нашего мороженого до заказчиков осуществляется в специальном термопаке, который не дает мороженому растаять в пути и позволяет сохранить превосходный вкус.
          div.info
            div.info__left
              div.blog
                h3.blog__title Новое в нашем блоге
                a.blog__link(href="#") 10  способов сервировки фруктовых щербетов к столу
            div.info__right
              div.subscribe
                p.subscribe__text.
                  Подпишитесь на нашу сладкую рассылку и будете всегда в курсе всего самого вкусного, что у нас происходит. Обещаем не спамить и не слать всякой не нужной ерунды. Честно =)
                div.subscribe__form
                  form(action="https://echo.htmlacademy.ru" method="post")
                    input.subscribe__input(type="text" name="user-email" id="user-email-field" placeholder="Электронная почта" maxlength="30")
                    button.btn.btn_orange(type="submit") Отправить
    div.map
      div#map.map-container
      div.map__content
        div.map__address
          p.map__text Адрес главного офиса и офлайн магазина:
          p.map__description ул. Большая Конюшенная 19/8, Санкт-Петербург
        div.map__telephone
          p.map__text Для заказов по телефону:
          p.map__description 8 812 450-25-25
          p.map__text (с 10 до 20 ежедневно)
        a.btn.btn_orange.btn_block Форма обратной связи
    div.content-wrapper
      footer.footer-main
          div.social
            a.social__link.social__link_tw(href="#") Твиттер
            a.social__link.social__link_ig(href="#") Инстаграмм
            a.social__link.social__link_fb(href="#") Фейсбук
            a.social__link.social__link_vk(href="#") Вконтакте
          div.footer-info
            div.footer-info__left
              a.footer-info__link.footer-info__link_providers(href="#") Для поставщиков
              a.footer-info__link(href="#") О производстве
            div.footer-info__right
              a.footer-info__link(href="#") Наши документы
              a.footer-info__link(href="#") Экологические стандарты
            div.copyright
              div.copyright__picture
                img.copyright__image(src="img/copyright.png" width="108" height="38" alt="Копирайт")
                span.copyright__text Сделано в <a class= "copyright__link" href="#"> HTML Academy</a> &copy; 2016















    //- script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
    script(src="js/main.js")











